// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass/css3';
$base-font: "Proxima Nova", sans-serif;
$header-font: "Adobe Garamond Pro", sans-serif;

*::selection {
background-color: #000;
color: #fff;
}

body {
  margin: 0;
  height: 100%;
}

#siteWrapper {
  font-family: $base-font;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  color: rgba(26,26,26,.7);

}

.background {
  background-image: image-url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#header {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
  top: 0;
  left: 0;
}

#logoWrapper {
  width: 140px;
  img {
    width: 100%;
  }
}

#headerNav {
  text-align: right;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;

  li {
    display: inline-block;
    padding: .75em 1em;
  }
  a {
    font-size: 14px;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    color: #fff;
  }

  a:hover {
    border-bottom: 4px solid #FEDE62;
    padding-bottom: 10px;
  }
}

.list-layout {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-inner {
  padding: 20px 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
  animation: header-anim 1s ease-in-out;
}

#content {
  text-align: center;
  color: #fff;
  padding: 125px 0 207px;

  h4 {
    line-height: 1.5em;
    font-family: $header-font;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    margin: 20px auto;
    -webkit-transform: translatez(0);
  }

  h1 {
    line-height: 1em;
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5vw;
  }

  a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    padding: 1em 1.75em;
    background-color: #36b3a8;
    line-height: 1em;
    margin: 10px 0;
    color: #fff;
    border: none;
    transition: background-color .1s 0s  ease-in-out,color .1s 0s ease-in-out;
  }
}

.features {
  display: inline-block;
  font-size: 15px;
  margin: 7% 0 7% 0;
  vertical-align: top;
  img {
    display: inline-block;
    margin: 0 15px 40px 0;
    width: 60px;
  }
  h3 {
    color: #242a33;
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 32px;
    margin: 0;
    max-width: 200px;
  }
  p {
    color: #73838e;
    display: inline-block;
    font-weight: 300;
    line-height: 24px;
    max-width: 340px;
    float: right;
  }
}

.light-gray {
  background-color: #F7F7F7;
  border-bottom: solid 1px #dadfe1;
  border-top: solid 1px #dadfe1;
}

.for-whom {
  padding-bottom: 8.8%;
  padding-top: 6.1%;
  min-height: 620px;

  p {
    font-family: Open Sans;
    font-weight: 200;
    color: black;
  }

}
.employer-image {
    margin-bottom: 60px;
    max-width: 100%;
}

.add-margin-top {
  margin-top: 8vw;
}

footer {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: #7f8c8d;
  }
  li {
    display: inline-block;
    color: white;
  }
}

footer {

  background-color: #2C3E50;
  #content {
    padding: 50px;
  }
}


.employer-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 420px;
  width: 87.5%;

  .border-radius-form {
    @include border-radius(3px);
  }

  .white-background {
    @include border-radius(3px);
  }

  .full-width {
    width: 100% !important;
  }

  label {
    height: 70px !important;
    width: 50% !important;
  }

  .background-image {
    background-attachment: fixed;
    background-image: image-url('building-graph.png') !important;
    background-position: center;
    background-repeat: no-repeat;
  }

  .border-right {
    border-right: 1px solid #eee;
  }

  .white-background {
    background-color: #fdfdfd;
    opacity: .9;
  }

  label {
    border-bottom: 1px solid #eee;
    color: #95a0a5;
    cursor: text;
    display: inline-block;
    height: 85px;
    margin-bottom: 0;
    width: 220px;
  }

  span {
    color: #95a0a5;
    display: block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 12px 0 0 14px;
    text-indent: 1px;
    text-transform: uppercase;
  }

  input {
    background: transparent;
    border: 0;
    color: #242a33;
    font-size: 15px;
    font-weight: 300;
    margin: 9px 0 0 14px;
    outline: none;
  }

  .full-width {
    width: 100%;
  }

  .solid-btn {
    @include border-radius(0 0 3px 3px);
    background: #fc0;
    border: 0;
    border-bottom: 4px solid #f4b700;
    color: #fdfdfd;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 66px;
    line-height: 66px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px 1px #d6a000;
    text-transform: uppercase;
    width: 100%;
  }
}

.color {
  background-color: #2C3E50;
}

.add-margin-bottom {
  margin-bottom: 8vw;
}
