// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass/css3';
$base-font: "Proxima Nova", sans-serif;
$header-font: "Adobe Garamond Pro", sans-serif;

*::selection {
background-color: #000;
color: #fff;
}

body {
  margin: 0;
  height: 100%;
}

#siteWrapper {
  font-family: $base-font;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  color: rgba(26,26,26,.7);
  background-image: image-url('background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

#header {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
  top: 0;
  left: 0;
}

#logoWrapper {
  width: 140px;
  img {
    width: 100%;
  }
}

#headerNav {
  text-align: right;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;

  li {
    display: inline-block;
    padding: .75em 1em;
  }
  a {
    font-size: 14px;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    color: #fff;
  }
}

.list-layout {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-inner {
  padding: 20px 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
  animation: header-anim 1s ease-in-out;
}

#content {
  text-align: center;
  color: #fff;
  padding: 125px 0 207px;

  h4 {
    line-height: 1.5em;
    font-family: $header-font;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    margin: 20px auto;
    -webkit-transform: translatez(0);
  }

  h1 {
    line-height: 1em;
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 0;
  }

  a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    padding: 1em 1.75em;
    background-color: #36b3a8;
    line-height: 1em;
    margin: 10px 0;
    color: #fff;
    border: none;
    transition: background-color .1s 0s  ease-in-out,color .1s 0s ease-in-out;
  }
}

.features {
  display: inline-block;
  font-size: 15px;
  margin: 7% 0 7% 0;
  vertical-align: top;
  img {
    display: inline-block;
    margin: 0 15px 40px 0;
    width: 60px;
  }
  h3 {
    color: #242a33;
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 32px;
    margin: 0;
    max-width: 200px;
  }
  p {
    color: #73838e;
    display: inline-block;
    font-weight: 300;
    line-height: 24px;
    max-width: 340px;
    float: right;
  }
}
